.severnace-pay-contaner .row-conainer{
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.severnace-pay-contaner .row-conainer .amoutpicker{
	margin: 0 10px;
}

.severnace-pay-contaner .row-conainer .datepicker{
    width: 170px;
}

@media only screen and (max-width: 600px) {
	.severnace-pay-contaner .row-conainer{
		position: static;
		width: 70%;
		left: 0;
		margin: 2px auto;
	}

	.severnace-pay-contaner .row-conainer .amoutpicker{
		margin: 4px 0px;
	}
}