.btn{
	width: 120px;
	color: white;
	margin: 10px;
}

.buttons-control {
	max-height: 245px;
    overflow: auto;
}

@media only screen and (max-width: 600px) {
	.btn{
		width: 82px;
		margin: 3px;
	}
}
