.alimony-payment-container .data-container{
    display: flex;
}

.alimony-payment-container .data-container .alimonay-payload-container {
    width: 60%; 
}

.alimony-payment-container .data-container .alimonay-payload-container .general-payload{
    margin: 5px;
	display: flex;
	justify-content: space-between;
}