.alimony-payment-result-block{
	width: 470px;
	margin: 0 auto;
	text-align: center;
	display: flex;
    flex-direction: column;
}

.alimony-payment-result-block .btn-result{
	height: 35px;
	width: 80px;
	margin: 10px 10px;
}

.alimony-payment-result-block .btn-open-interest {
	color: #17a2b8;
	width: auto;
}
.alimony-payment-result-block .btn-open-interest:hover {
	color: white;
}

.alimony-payment-result-block .results-functions-container{
	display: flex;
	margin: 15px;
}

.loader{
	width: 30%;
    margin: 10px 20px;
}

@media only screen and (max-width: 600px) {
	.alimony-payment-result-block{
		height: 35px;
		margin: 3px auto;
	}
}