.about-title{
	font-size: 50px;
	margin: 30px;
}

.about-content{
	margin: 50px;
	font-size: 20px;
}

.about-list{
	float: right;
	text-align: right;
	list-style-type: none;
}

.about-listTitle{
	font-size: 20px;
}

.about-sublist{
	margin: 0;
	padding-right: 15px;
}
