.contact-title{
	font-size: 50px;
	margin: 30px;
}

.contact-img{
	width: 550px;
	margin: 30px;
	border-radius: 20px; 
}

.contacts-list{
	text-align: center;
	list-style-type: none;
}

.contact-content{
	font-size: 20px;
}
