#debt-row {
	display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px;
}

#debt-row .amoutpicker{
	height: 25px;
}

#debt-row .datepicker{
	width: 170px;
}

#debt-row .radio-block{
	width: 150px;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	#debt-row {
		position: static;
		width: 70%;
		left: 0;
		margin: 2px auto;
	}

	#debt-row .amoutpicker{
		margin: 4px 0px;
	}
}