/* #debt-row {
	display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px;
} */

#debt-row .amoutpicker{
	margin: auto;
	height: 25px;
	max-width: 120px;
	min-width: 100px;
}

#debt-row .datepicker{
	margin: auto;
	max-width: 200px;
	min-width: 115px;
}

#debt-row .radio-block{
	min-width: 100px;
	max-width: 150px;
	text-align: center;
}


@media only screen and (max-width: 1200px) {
	#debt-row {
		font-size: 10px;
	}
	#debt-row .amoutpicker{
		height: 25px;
		max-width: 90px;
		min-width: 80px;
	}
	#debt-row .radio-block{
		min-width: 85px;
		max-width: 150px;
		text-align: center;
	}
}
