.unemploy-container .form-container{
    display: flex;
    justify-content: space-evenly;
}

.unemploy-container .radio-block{
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

.unemploy-container .salary-input{
    width: 300px;
    margin: 3px auto;
}

@media only screen and (max-width: 600px) {
    .unemploy-container .form-container{
        display: block;
    }

    .unemploy-container .salary-input{
        width: auto;
    }
}