.child-data-container-row{
	position: relative;
	width: 50%;
	padding: 10px;
}

.child-data-container-row .amoutpicker{
	margin: 0 10px;
}

.child-data-container-row .datepicker{
	width: 170px;
}

.child-data-container-row .data-row{
	margin: 5px;
	display: flex;
	justify-content: space-between;
}

.child-data-container-row .data-row-space-even{
	justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
	.child-data-container-row{
		position: static;
		width: 70%;
		left: 0;
		margin: 2px auto;
	}

	.child-data-container-row .amoutpicker{
		margin: 4px 0px;
	}
}