.alimony-payments-general .general-payload{
    margin: 5px;
	display: flex;
	justify-content: space-between;
	width: max-content;
    min-width: 65%;
    MARGIN: auto;
}

.alimony-payments-general .general-payload .madad-interval-picker {
	width: 166px;
}

.alimony-payments-general .general-payload .datepicker{
	width: fit-content;
}