.btn-result{
	height: 35px;
	width: 80px;
	margin: 0 30px;
}

.result-block .datepicker{
	width: 200px;
}

.radio-block{
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.result-block .datepicker{
		width: 179px;
	}
	.btn-result{
		height: 35px;
		margin: 3px auto;
	}
}