
.severnace-pay-contaner .btn-result{
    margin: 5px;
}

.severnace-pay-contaner .result-container{
    display: flex;
    margin: 15px auto;
    justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    .severnace-pay-contaner .result-container{
        display: block;
    }
}