.payload-input-container{
    display: flex;
    flex-direction: column;
    width: max-content;
    min-width: 65%;
    margin: auto;
}
.input-container{
    display: flex;
    justify-content: space-between;
}

.react-datepicker-wrapper{
    width: fit-content;
}

.payload-input-container .yield-type-radio-block{
    display: flex;
    justify-content: space-around;
}
.payload-input-container .yield-type-radio-block .radio-label{
    padding-top: 4px;
}