.payload-input-container{
    display: flex;
    flex-direction: column;
    width: max-content;
    min-width: 65%;
    margin: auto;
}
.input-container{
    display: flex;
    justify-content: space-between;
}

.react-datepicker-wrapper{
    width: fit-content;
}