.home-title{
	font-size: 50px;
}

.home-img{
	float: right;
	width: 400px;
	border-radius: 20px; 
}

.home-content{
	margin: 50px;
	font-size: 20px;
}

.home-subcontent{
	font-size: 15px;
}

@media only screen and (max-width: 600px) {
	.home-content{
		margin: 20px;
		font-size: 18px;
	}
}
